# Dependencias de Node.js
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log
.npm-debug.log

# Archivos de Expo
.expo/
.expo-shared/

# Archivos de caché
*.log
*.swp
*.swo
*.swn
*.bak

# Archivos de configuración de IDEs y editores de código
.vscode/
.idea/
*.iml
*.sublime-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación y output
build/
dist/
coverage/
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/

# Archivos de configuraciones específicas de macOS y Linux
.env
.env.local
.env.development
.env.production
.env.test
